<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net452" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net452" />
  <package id="Nancy.Linker" version="0.3.1" targetFramework="net452" />
  <package id="Nancy.Metadata.Modules" version="2.0.0-barneyrubble" targetFramework="net452" />
  <package id="Nancy.Owin" version="2.0.0-clinteastwood" targetFramework="net452" />
  <package id="Nancy.Swagger" version="2.2.12-alpha" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Swagger.ObjectModel" version="2.2.12-alpha" targetFramework="net452" />
</packages>