<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibLog" version="4.2.2" targetFramework="net45" developmentDependency="true" />
  <package id="NEventStore" version="5.1.1" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
</packages>